{% extends "base_auth.html" %}
{% block content %}

<div class="flex justify-center items-center min-h-[80vh] px-4">
  <div class="w-full max-w-md bg-gray-800/40 backdrop-blur-xl p-10 rounded-2xl">
    <h2 class="text-2xl text-white font-bold mb-6 text-center">
      Reset Password
    </h2>

    <form method="POST">
      <label class="text-gray-300 text-sm">Password Baru</label>
      <input type="password" name="password" required
        class="w-full mt-2 px-4 py-3 rounded-xl bg-gray-900 border border-gray-700 text-white">

      <button class="w-full mt-6 py-3 bg-blue-600 hover:bg-blue-700 rounded-xl text-white">
        Simpan Password
      </button>
    </form>
  </div>
</div>

{% endblock %}
